# Image Hub www wifi information page server configuration

server {
	# Do not listen on 80 when SSL redirect block is active
	#listen 80;
	#listen [::]:80;

	listen 443 ssl;
	listen [::]:443 ssl;

    root /var/www/image-hub-wifi;
    index index.html;

    ssl on;
	ssl_certificate {{ cert_path }}/fullchain.pem;
    ssl_certificate_key {{ cert_path }}/privkey.pem;
    ssl_session_timeout 5m;
	ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
	ssl_ciphers "HIGH:!aNULL:!MD5 or HIGH:!aNULL:!MD5:!3DES";
	ssl_prefer_server_ciphers on;

    # not sure if i need these on aws instance
	# error_log syslog:server=unix:/dev/log,nohostname;
	# access_log syslog:server=unix:/dev/log,nohostname;

	server_name image-hub {{ cert_domain }};
    location / {
        try_files $uri $uri/ =404;
    }
}
