body {
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #444;
  background: white;
}
h1,h2,h3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}

.image-container > ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.image-thumb {
  margin: 2px;
  display: flex;
  flex-direction: column;
}
.image-link {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-link:active::before {
  content: "⏳";
  padding: 0.8em;
  box-sizing: border-box;
  background: rgba(255,255,255,0.95);
  position: absolute;
  pointer-events: none;
}
@media (min-width: 376px) {
  .image-link {
    width: auto;
    height: auto;
  }
  .lightbox-image {
    max-width: 90%;
    max-height: 90%;
  }
}
/* iphone 6+ */
@media (max-width: 414px) {
  .image-link {
    width: 132px;
    height: 132px;
  }
  .lightbox-image {
    max-width: 404px;
  }
}
/* TODO finish this */
/*
@media (max-height: 736px) {
  .lightbox-image {
    max-height: 700px;
  }
}
*/
/* iphone 6 */
@media (max-width: 375px) {
  .image-link {
    width: 120px;
    height: 120px;
  }
  .lightbox-image {
    max-width: 365px;
  }
}
/* iphone 5 */
@media (max-width: 320px) {
  .image-link {
    width: 100px;
    height: 100px;
  }
  .lightbox-image {
    max-width: 310px;;
  }
}

.image-thumb__crops {
  display: flex;
  justify-content: center;
}
.image-thumb__icon {
  margin: 0 0.25em;
}
.image-thumb__icon:active::before {
  content: "⏳";
  box-sizing: border-box;
  background: rgba(255,255,255,0.6);
  position: absolute;
  pointer-events: none;
}
.footer {
  font-size: 64px;
  margin: 10px 100px;
  display: flex;
  justify-content: center;
}

.footer > a {
  display: block;
  text-align: center;
  font-size: 36px;
  padding: 0 10px;
}

.lightbox {
  /* outline: none; */
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,4,18,0.92);
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox .image-thumb__crops {
  margin-top: 0.5em;
  align-items: center;
}
.lightbox .image-thumb__icon {
  font-size: 44px;
}
.lightbox-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
