* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #353535;
  background: rgb(252, 252, 252);
}
body, .lightbox {
  padding-bottom: 62px;
}
body > img {
  max-height: 100%;
  max-width: 100%;
}
h1,h2,h3 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
h1 {
  font-size: 30px;
}
a:active {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.footer {
  font-size: 14px;
  margin: 16px auto 22px auto;
  display: flex;
  justify-content: center;
}

.footer > button {
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  border: 1px solid rgb(236, 236, 236);
  background: rgb(245, 245, 245);
  padding: 0.65em 1.75em;
}
a {
  color: inherit;
  text-decoration: none;
}

.image-container > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.image-thumb {
  background: rgb(11, 11, 11);
  width: 33%;
  height: 33vw;
  max-height: 240px;
  max-width: 240px;
  margin: 0.15vmin;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.image-link {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-thumb__crops {
  display: flex;
  justify-content: center;
}
.image-thumb__icon {
  margin: 0 0.25em;
}

.lightbox {
  padding-top: 24px;
  color: #d5d5d5;
  text-transform: uppercase;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(18, 20, 22, 0.94);
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox__content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.lightbox__menu {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 0 0.75em;
  justify-content: space-between;
}
.lightbox__text {
  height: 100%;
  font-size: 10px;
  letter-spacing: 0.02em;
  padding: 1em;
  min-width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lightbox__buttons {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  position: absolute;
}
.lightbox__tap-area {
  font-size: 28px;
  color: rgba(206, 206, 206, 0.65);
  text-shadow: black 0 0 .3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.lightbox__tap-area:first-child {
  width: 40%;
  text-align: left;
  padding-left: 0.6em;
}
.lightbox__tap-area:last-child {
  width: 60%;
  text-align: right;
  padding-right: 0.6em;
}
.lightbox__slide {
  position: relative;
  height: 100%;
  width: 100%;
}
.lightbox-image {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
